@import url('./reset.css');

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    border: 1px solid grey;
    row-gap: 20px;
    padding: 20px;
}

.product__img img{
    max-width: 400px;
    width: 100%;
}


.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    max-width: 200px; /* Фіксована ширина для зображення */
    max-height: 200px; /* Фіксована висота для зображення */
    object-fit: cover; /* Забезпечує однаковий розмір і пропорції */
}
.card__order {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #0f835c;
    padding: 10px;
    text-align: center;
    border: 1px solid #0c7552;
    border-radius: 4px;
    cursor: pointer; 
    transition: 0.2s;
    margin-top: auto;
}

.card__order:hover {
    background-color: #0c7552; /* Змінюємо колір фону при наведенні */
    color: white; /* Змінюємо колір тексту при наведенні */
}
